{% extends 'base.html.twig' %}

{% block title %}sign up{% endblock %}

 {% block body %}
 {% endblock %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


		<center><a href="{{ path('app_patient_new')}}" ><img src="images/icon/patient.png" alt="" class="icon"> </a>
			<h5><a href="{{ path('app_patient_new')}}">Patients </a></h5>
			<!--<p> join us<p/p> --></center>
														
		
			<center> <a href="{{ path('app_docteur_new')}}" ><img src="images/icon/doctor.png" alt="" class="icon"> </a>
					<h5><a href="{{ path('app_docteur_new')}}">Doctors</a></h5>

{% endblock %}
