{# templates/dossiermedical/statistics.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Statistiques des maladies chroniques{% endblock %}

{% block body %}
    <h1>Statistiques des maladies chroniques</h1>

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 400px;">
            <h2 style="text-align: center;">Statistiques</h2>
            <canvas id="chronicDiseaseChart" width="400" height="400"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var chartData = {{ chartData | raw }};
            var ctx = document.getElementById('chronicDiseaseChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
